/*
COLORS

Primary: #273c75
Primary light: #3c5db5
Primary dark: #162242

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

$color-primary: #2c3e50;
$color-primary-white: #ecf0f1;

$font-primary: 'Montserrat', sans-serif;

// RESPONSIVE BREAKPOINTS 
$bp-largest: 65.625em; //1050px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
$bp-smallest-small: 31.25em; //500px
$bp-smallest-smallest: 25.0625em; //400px



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 56%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 49%;
    }
    @media only screen and (max-width: $bp-smallest) {
        font-size: 45%;
    }
    @media only screen and (max-width: $bp-smallest-small) {
        font-size: 40%;
    }
    @media only screen and (max-width: $bp-smallest-smallest) {
        font-size: 35%;
    }
}
body {
    font-family: $font-primary;
    color: $color-primary;
    background-color: $color-primary-white;
    font-weight: 300;
    line-height: 1.6;
}

.logo-main {
    display: flex;
    justify-content: space-around;
    filter: invert(19%) sepia(46%) saturate(450%) hue-rotate(168deg) brightness(93%) contrast(87%);
}

.logo-main-img {
    height: 30rem;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-large) {
        height: 20rem;
    }
}

.main-text {
    width: 85vw;
    margin: 0 auto 0 auto;
}
.text-main {
    font-size: 2.9rem;
    text-align: justify;
    font-weight: 400;
    margin: 5rem 5rem 8rem 5rem;
    hyphens: auto;
/*
    @media only screen and (max-width: $bp-large) {
        text-align: justify;
    }
    */
}

.text-secondary {
    font-size: 2.4rem;
    text-align: center;
    margin: 5rem 5rem 0 5rem;

    &::before {
        content: "";
            height: 1px;
            width: 40rem;
            display: block;
            margin: 0 auto 5rem auto;
            background-color: currentColor;

            @media only screen and (max-width: $bp-large) {
                width: 20rem;
            }
    }
}

.text-tertiary {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 700;
    &--1 {
        margin-right: 15rem;
        padding: 1rem;
        text-decoration: none;
        color: inherit;
        @media (pointer: fine) {
            &:hover {
                background-color: $color-primary;
                color: $color-primary-white;
                }
        }
    }
    &--2 {
        padding: 1rem;
        text-decoration: none;
        color: inherit;

        @media (pointer: fine) {
            &:hover {
                background-color: $color-primary;
                color: $color-primary-white;
                }
        }
        
    
    }
}
.icons {
    display: flex;
    justify-content: center;
}

.header__icon {
    margin: 10rem 0 10rem 0;
    height: 5rem;
    fill: $color-primary;
    transition: transform .3s ease-in;
    cursor: pointer;
    display: block;

    
    
    
    &:hover,
    &:active {
        transform: scale(1.4);
    }

}

.footer-main {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}