/*
COLORS

Primary: #273c75
Primary light: #3c5db5
Primary dark: #162242

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

$color-primary: #2c3e50;
$color-primary-white: #ecf0f1;

$color-secondary: #fffa65;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$font-primary: Helvetica;

// RESPONSIVE BREAKPOINTS 
$bp-largest: 65.625em; //1050px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
$bp-smallest-small: 31.25em; //500px
$bp-smallest-smallest: 25.0625em; //400px



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 56%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 49%;
    }
    @media only screen and (max-width: $bp-smallest) {
        font-size: 45%;
    }
    @media only screen and (max-width: $bp-smallest-small) {
        font-size: 40%;
    }
    @media only screen and (max-width: $bp-smallest-smallest) {
        font-size: 35%;
    }
}
body {
    font-family: $font-primary;
    color: $color-primary;
    background-color: $color-primary-white;
    font-weight: 300;
    line-height: 1.6;
}


/*
h1 {
    font-size: 4rem;
    color: $color-secondary;
    letter-spacing: .1rem;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;
    color: $color-grey-light-1;

    @media only screen and (max-width: $bp-smallest-small) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 3rem;

    color: $color-secondary;
}

*/
.logo-main {
    display: flex;
    justify-content: space-around;

}

.logo-main-img {
    height: 30rem;
    margin-top: 5rem;
}

.text-main {
    font-size: 2.9rem;
    text-align: justify;
    margin: 5rem 5rem 0 5rem;
    
}

.text-secondary {
    font-size: 2.4rem;
    text-align: center;
    margin: 5rem 5rem 0 5rem;

    &::before {
        content: "";
            height: 1px;
            width: 40rem;
            display: block;
            margin: 0 auto 5rem auto;
            background-color: currentColor;
    }
}

.icons {
    display: flex;
    justify-content: center;
}

.header__icon {
    margin-top: 10rem;
    height: 5rem;
    fill: $color-primary;
    transition: transform .3s ease-in;
    cursor: pointer;
    display: block;
    
    
    &:hover,
    &:active {
        transform: scale(1.4);
    }

}